.DS_Store
.settings/
.project
script.php

vendor
example.php
facturas.json
composer.lock
*.xml
*.pdf

/logs/*
!/logs/empty

# Avoid environment config files:
ci/unit_testing/config/env.json
ci/unit_testing/config/prod.json
ci/unit_testing/config/dev.json

